:root {
  --fc-border-color: lightgray;
  --fc-page-bg-color: none;
}

.dark {
  --fc-border-color: gray;
}

.fc-scrollgrid {
  @apply border-none !important;
}

.fc a[data-navlink] {
  @apply hover:text-blue-500 hover:no-underline
}
.fc-day-sun > div:first-child > a,
.fc-day-sun > div:first-child > div:first-child {
  @apply text-red-500
}

/* Setting header size */

.fc-timegrid-axis,
.fc-col-header-cell {
  @apply bg-background
}

.fc-col-header-cell-cushion {
  @apply flex items-center font-normal;
}

.fc .fc-daygrid-day-frame {
  @apply h-auto
}

.fc-timegrid-slot-label-cushion {
  @apply text-xs font-light !important;
}

/* Setting cell colors */

td.fc-daygrid-day.fc-day {
  @apply hover:bg-secondary !important;
}

.fc-day-today {
  @apply bg-green-50 !important;
}

.fc-daygrid-day-top {
  @apply flex flex-row h-8 w-full items-center !important;
}
.fc-daygrid-block-event,
.fc-h-event,
.fc-daygrid-dot-event {
  @apply p-0 my-0.5 hover:ring-1 rounded !important;
}

.fc-daygrid-event-harness,
.fc-timegrid-event-harness {
  @apply hover:cursor-pointer !important;
}

.fc-list-event-time {
  @apply text-sm !important
}

.fc-daygrid-event {
  @apply mx-1 !important;
}

.fc-timegrid-event {
  @apply px-1 !important;
}

.fc-theme-standard .fc-popover {
  @apply bg-background rounded-md z-40 !important
}

.fc-theme-standard .fc-list-day-cushion {
  @apply bg-gray-50
}

.fc-more-popover-misc {
  @apply hidden !important
}

.fc-list {
  @apply border-0 !important
}

.fc-list-empty {
  @apply h-[calc(100vh-175px)] !important
}

.fc-list-day-text,
.fc-list-day-side-text {
  @apply font-normal
}